{% style %}
  .choose_your_main-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% endstyle %}
<div class="choose_your_main choose_your_main-{{ section.id }}">
  <div class="container">
    <div class="title_box">
      {% if collection.metafields.custom.choose_your_system_title != blank %}
        <h3 class="">{{ collection.metafields.custom.choose_your_system_title }}</h3>
      {% endif %}
      <h2 class="built_titling h1">
        {% for choose in collection.metafields.custom.choose_your_system_content.value %}
          <span class="setup">{{ choose.setup }}</span>
          {% unless forloop.last %}
            <span class="vs">VS</span>
          {% endunless %}
        {% endfor %}
      </h2>
    </div>

    <div class="choose_your_table">
      <div class="choose_your_table_inner">
        <div class="table">
          <div class="tr heading_box">
            <div class="th first">
              <div class="icon_with_text">
                <span class="icon">
                  <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16.5" cy="16.5" r="16.5" fill="#FFDE13"/>
                    <path d="M11.1031 13.2688C9.90708 13.2688 8.9375 12.2992 8.9375 11.1031C8.9375 9.90708 9.90708 8.9375 11.1031 8.9375C12.2992 8.9375 13.2688 9.90708 13.2688 11.1031C13.2688 12.2992 12.2992 13.2688 11.1031 13.2688Z" stroke="black" stroke-width="2"/>
                    <path d="M21.2096 23.3752C22.4056 23.3752 23.3752 22.4056 23.3752 21.2096C23.3752 20.0136 22.4056 19.0439 21.2096 19.0439C20.0136 19.0439 19.0439 20.0136 19.0439 21.2096C19.0439 22.4056 20.0136 23.3752 21.2096 23.3752Z" stroke="black" stroke-width="2"/>
                    <path d="M13.2686 11.1035H23.3748" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    <path d="M19.0438 21.209H8.9375" stroke="black" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                </span>
                <span class="text">Setup</span>
              </div>
            </div>
            <div class="th second">
              <div class="icon_with_text">
                <span class="icon">
                  <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16.5" cy="16.5" r="16.5" fill="#FFDE13"/>
                    <path d="M9.625 16.5L13.75 20.625L22.6875 11.6875" stroke="black" stroke-width="2.0625" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <span class="text">Choose this if</span>
              </div>
            </div>
            <div class="th third">
              <div class="icon_with_text">
                <span class="icon">
                  <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16.5" cy="16.5" r="16.5" fill="#FFDE13"/>
                    <path d="M16.0365 9.17503C16.1394 8.85832 16.5875 8.85832 16.6904 9.17503L18.37 14.3445C18.4161 14.4861 18.548 14.582 18.697 14.582H24.1325C24.4655 14.582 24.6039 15.0082 24.3345 15.2039L19.9371 18.3988C19.8166 18.4863 19.7662 18.6415 19.8122 18.7831L21.4919 23.9526C21.5948 24.2693 21.2323 24.5327 20.9629 24.3369L16.5655 21.142C16.445 21.0545 16.2819 21.0545 16.1614 21.142L11.764 24.3369C11.4946 24.5327 11.1321 24.2693 11.235 23.9526L12.9147 18.7831C12.9607 18.6415 12.9103 18.4863 12.7898 18.3988L8.39236 15.2039C8.12296 15.0082 8.26141 14.582 8.59441 14.582H14.0299C14.1789 14.582 14.3108 14.4861 14.3569 14.3445L16.0365 9.17503Z" fill="black"/>
                  </svg>
                </span>
                <span class="text">Best for</span>
              </div>
            </div>
            <div class="th fourth">
              <div class="icon_with_text">
                <span class="icon">
                  <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16.5" cy="16.5" r="16.5" fill="#FFDE13"/>
                    <circle cx="19.9468" cy="14.4468" r="2.75929" fill="black"/>
                    <path d="M19.9463 17.8193C20.6307 17.8193 21.3091 17.9539 21.9414 18.2158C22.5736 18.4777 23.148 18.8618 23.6318 19.3457C24.1158 19.8297 24.4998 20.4048 24.7617 21.0371C25.0236 21.6694 25.1582 22.3469 25.1582 23.0312H20.2529C20.2529 22.1858 20.0862 21.3485 19.7627 20.5674C19.4392 19.7863 18.965 19.0763 18.3672 18.4785C18.2635 18.3748 18.1552 18.2758 18.0449 18.1797C18.6506 17.9423 19.2952 17.8194 19.9463 17.8193Z" fill="black"/>
                    <circle cx="13.4062" cy="13.4062" r="3.09375" fill="black"/>
                    <path d="M19.25 23.0312C19.25 22.2638 19.0988 21.5039 18.8052 20.7949C18.5115 20.0859 18.081 19.4417 17.5384 18.8991C16.9958 18.3565 16.3516 17.926 15.6426 17.6323C14.9336 17.3387 14.1737 17.1875 13.4062 17.1875C12.6388 17.1875 11.8789 17.3387 11.1699 17.6323C10.4609 17.926 9.81674 18.3565 9.27409 18.8991C8.73145 19.4417 8.301 20.0859 8.00733 20.7949C7.71365 21.5039 7.5625 22.2638 7.5625 23.0313L19.25 23.0312Z" fill="black"/>
                  </svg>
                </span>
                <span class="text">Athlete count</span>
              </div>
            </div>
            <div class="th fifth">
              <div class="icon_with_text">
                <span class="icon">
                  <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="16.5" cy="16.5" r="16.5" fill="#FFDE13"/>
                    <path d="M12.375 12.375H23.375" stroke="black" stroke-width="1.03125" stroke-linecap="round"/>
                    <path d="M13.75 19.25L19.7451 18.7504C21.6209 18.5941 22.042 18.1844 22.2499 16.3136L22.6875 12.375" stroke="black" stroke-width="1.03125" stroke-linecap="round"/>
                    <path d="M12.375 23.375C13.1344 23.375 13.75 22.7594 13.75 22C13.75 21.2406 13.1344 20.625 12.375 20.625C11.6156 20.625 11 21.2406 11 22C11 22.7594 11.6156 23.375 12.375 23.375Z" stroke="black" stroke-width="1.03125"/>
                    <path d="M19.9375 23.375C20.6969 23.375 21.3125 22.7594 21.3125 22C21.3125 21.2406 20.6969 20.625 19.9375 20.625C19.1781 20.625 18.5625 21.2406 18.5625 22C18.5625 22.7594 19.1781 23.375 19.9375 23.375Z" stroke="black" stroke-width="1.03125"/>
                    <path d="M13.75 22H18.5625" stroke="black" stroke-width="1.03125" stroke-linecap="round"/>
                    <path d="M9.625 9.625H10.2891C10.9386 9.625 11.5047 10.0544 11.6622 10.6665L13.7077 18.6151C13.8111 19.0168 13.7226 19.4423 13.4669 19.7736L12.8096 20.625" stroke="black" stroke-width="1.03125" stroke-linecap="round"/>
                    <path d="M22.6875 12.375H12.375L13.75 19.25H14.4375L21.6562 18.2188L22.6875 12.375Z" fill="black"/>
                  </svg>
                </span>
                <span class="text">Buying path</span>
              </div>
            </div>
          </div>
          {% for choose in collection.metafields.custom.choose_your_system_content.value %}
            <div class="tr">
              <div class="td td_title_box first">
                <div class="built_titling h1">{{ choose.setup }}</div>
              </div>
              <div class="td second">
                <div>{{ choose.choose_this_if }}</div>
              </div>
              <div class="td third">
                <div>{{ choose.best_for }}</div>
              </div>
              <div class="td fourth">
                <div>{{ choose.athlete_count }}</div>
              </div>
              <div class="td fifth">
                <div>
                  {% if choose.buying_path %}
                    <a class="btn btn--secondary header_custom_btn" href="{{ choose.buying_path.value.url }}">
                      {{- choose.buying_path.value.text -}}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Choose your",
  "limit": 1,
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Choose your"
    }
  ]
}
{% endschema %}
