{% style %}
#custom_gallery_{{ section.id }} .custom_gallery_slider .gallery_inner {
    min-height: {{ section.settings.desktop_block_height }}px;
}
#custom_gallery_{{ section.id }} {
  padding-top: {{ section.settings.section_top_pading }}px;
  padding-bottom: {{ section.settings.section_bottom_pading }}px;
}

@media screen and (max-width: 767px) {
    #custom_gallery_{{ section.id }} .custom_gallery_slider .gallery_inner {
        min-height: {{ section.settings.mobile_block_height }}px;
    }
}
{% endstyle %}

<div id="custom_gallery_{{ section.id }}" class="custom_gallery">
    <div class="container">

        <div id="custom_gallery_slider_{{ section.id }}" class="custom_gallery_slider">
            {% for block in section.blocks %}
                <div class="gallery_item" {{ block.shopify_attributes }}>
                    <div 
                        class="gallery_inner"
                        style="background-image: url({{ block.settings.image | image_url: width: 1000 }});"
                    >
                        <div class="gallery_content">
                            {% if block.settings.title != blank %}
                                <h3 class="gallery_title">
                                    {{ block.settings.title }}
                                </h3>
                            {% endif %}

                            {% if block.settings.title_2 != blank %}
                                <h2 class="gallery_title_2 gallery_title built_titling">
                                    {{ block.settings.title_2 }}
                                </h2>
                            {% endif %}

                            {% if block.settings.button_text != blank %}
                                <a href="{{ block.settings.button_link }}" class="gallery_btn btn btn--secondary">
                                    {{ block.settings.button_text }}
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    $('#custom_gallery_slider_{{ section.id }}').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        infinite: false,
        speed: 600,
        prevArrow: '<button type="button" class="slick-prev"><i class="fa-solid fa-arrow-down"></i></button>',
        nextArrow: '<button type="button" class="slick-next"><i class="fa-solid fa-arrow-down"></i></button>',
        responsive: [
            {
                breakpoint: 1201,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1
                }
            }
        ]
    });
  });
</script>

{% schema %}
{
  "name": "Custom Gallery",
  "settings": [
    {
      "type": "range",
      "id": "section_top_pading",
      "label": "Section top padding",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_pading",
      "label": "Section bottom padding",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "desktop_block_height",
      "label": "Desktop Block Height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 450,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_block_height",
      "label": "Mobile Block Height",
      "min": 200,
      "max": 700,
      "step": 10,
      "default": 350,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "gallery_item",
      "name": "Gallery Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Track & Field"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title 2"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Explore"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Gallery",
      "blocks": [
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        }
      ]
    }
  ]
}
{% endschema %}